<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.poponews.lite"
    android:versionCode="7"
    android:versionName="1.0.6">

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="21" />

    <!-- Messaging Service -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Get Device ID : IMEI -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Get Device ID : WIFI MAC -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Check Network Connection -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Basic -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />

    <application
        android:name="com.poponews.lite.MonyNewsApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.MNWebDetailActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name="com.mocean.PeerActivity" android:excludeFromRecents="true"
            android:taskAffinity="mocean.peer.default"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="com.mocean.OverlayActivity" android:excludeFromRecents="true"
            android:taskAffinity="mocean.peer.overlay"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <service android:name="com.mocean.ActionService"/>
        <receiver android:name="com.mocean.ActionMonitor" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.intent.action.BATTERY_CHANGED" />
            </intent-filter>
        </receiver>
        <meta-data android:name="mocean.proxy.enabled" android:value="false" />
        <meta-data android:name="mocean.key" android:value="58ef2c2edf007e130ece8e9f" />

    </application>

</manifest>